:root{
    --bg: #181818;
    --bg-msg-left: #192634;
    --bg-ms-right: #2464a4;
    --bg-msg: #3d3d3d;
    --bg-sidebar-chat: #232323;
    --text-color: #FFFFFF;
    --text-color-alter: #3d3d3d;
}
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@300;400&family=Open+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    background-color: var(--bg);
}
ul, li,a, a:hover{
    text-decoration: none;
    list-style: none;
    color: var(--text-color);
}
.user img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-top: 62px;
    border: 2px solid #373737;
}
.container{
 
    color: var(--text-color);
    font-family: 'Encode Sans SC', sans-serif;
    font-family: 'Open Sans', sans-serif;
    display: flex;
   
}
.user{
    max-width: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-size: 14px;
}
.sidebarChat{
    background-color: var(--bg-sidebar-chat);
    max-width: 400px;
    width: 100%;
}
.messages{
    background-color: var(--bg-msg);
    max-width: 890px;
    width: 100%;
}

.user .settings-options{
    position: absolute;
    bottom: 0;
}
.user ul li{
    margin-bottom: 12px;
}
.user ul li i{
    margin-right: 12px;
}
.user .user-options{
    margin-top: 52px;
}
.user .user-options li{
    margin-bottom: 50px;
}
.user h3{
    font-size: 13px;
    margin-top: 10px;
    text-align: center;
}
.sidebarChat img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.sidebarChat{
    padding: 30px;
}
.sidebarChat .options{
    display: flex;
    justify-content: space-between;
}
input{
    background-color: var(--text-color-alter);
    border: none;
    width: 100%;
}
.sidebarChat input{
    border-radius: 5px;
    padding: 10px;
}
.sidebarChat .search-options{
    margin-top: 22px;
}
.sidebarChat .search-options i{
    position: absolute;
    margin-top: -26px;
    margin-left: 392px;
}
.sidebarChat .list-user{
    margin-top: 22px;
}
.sidebarChat .list-user li a{
    display: flex;
    align-items: center;
}
.sidebarChat .list-user li a img{
    margin-right: 22px;
}
.sidebarChat .list-user li a p{
    font-size: 12px;
}
.sidebarChat .list-user li a .list-data{
    margin-left: 60px;
    font-size: 14px;
}